body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: white;
}

header {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #34495e;
    text-align: center;
    padding: 10px;
    gap: 20px;
    justify-content: center;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
    color: blue;
}

section {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

.sobre-mi-contenedor {
    display: flex;
    align-items: center;
    gap: 20px;
}

.sobre-mi-contenedor img {
    width: 170px;
    border-radius: 10px;
}


.contenedor-proyectos {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.tarjeta {
    background-color: #e5e7eb;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
    min-width: 200px;
}

.tarjeta:hover {
    transform: scale(1.03);
    transition: 0.3s;
}


form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #2c3e50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1a252f;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #ddd;
}

.redes-sociales {
    margin-top: 10px;
}

.redes-sociales a {
    color: white;
    margin: 10px;
    font-size: 25px;
}

.redes-sociales a:hover {
    color: #60a5fa;
}